# 1.Read the csv in a data_frame. (10 points)

In [51]:
import pandas as pd

In [52]:
import numpy as np

In [61]:
# Load the CSV file into a data frame
df = pd.read_csv('Book.csv')
df

,Identifier,Edition Statement,Place of Publication,Date of Publication,Publisher,Title,Author,Contributors,Corporate Author,Corporate Contributors,Former owner,Engraver,Issuance type,Flickr URL,Shelfmarks
0,206,NaN,London,1879 [1878],S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,A. A.,"FORBES, Walter.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12641.b.30.
1,216,NaN,London; Virtue & Yorston,1868,Virtue & Co.,All for Greed. [A novel. The dedication signed...,"A., A. A.","BLAZE DE BURY, Marie Pauline Rose - Baroness",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12626.cc.2.
2,218,NaN,London,1869,"Bradbury, Evans & Co.",Love the Avenger. By the author of “All for Gr...,"A., A. A.","BLAZE DE BURY, Marie Pauline Rose - Baroness",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12625.dd.1.
3,472,NaN,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.","Appleyard, Ernest Silvanus.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 10369.bbb.15.
4,480,"A new edition, revised, etc.",London,1857,Wertheim & Macintosh,"[The World in which I live, and my place in it...","A., E. S.","BROOME, John Henry.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 9007.d.28.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8282,4158088,NaN,London,1838,NaN,"The Parochial History of Cornwall, founded on,...","GIDDY, afterwards GILBERT, Davies.","BOASE, Henry Samuel.|HALS, William.|LYSONS, Da...",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS|British Library HMNTS 10...
8283,4158128,NaN,Derby,"1831, 32",M. Mozley & Son,The History and Gazetteer of the County of Der...,"GLOVER, Stephen - of Derby","NOBLE, Thomas.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS|British Library HMNTS 10...
8284,4159563,NaN,London,[1806]-22,T. Cadell and W. Davies,Magna Britannia; being a concise topographical...,"LYSONS, Daniel - M.A., F.R.S., and LYSONS (Sam...","GREGSON, Matthew.|LYSONS, Samuel - F.R.S",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS|British Library HMNTS 19...
8285,4159587,NaN,Newcastle upon Tyne,1834,Mackenzie & Dent,"An historical, topographical and descriptive v...","Mackenzie, E. (Eneas)","ROSS, M. - of Durham",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS|British Library HMNTS 10...
8286,4160339,NaN,London,1834-43,NaN,Collectanea Topographica et Genealogica. [Firs...,NaN,"BANDINEL, Bulkeley.|Nichols, John Gough",NaN,NaN,NaN,NaN,continuing,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS|British Library HMNTS 79...

# 2.Remove the following columns from the data_frame (20 points)
a.'Edition Statement', 
b.'Corporate Author', 
c.'Corporate Contributors', 
d.'Former owner', 
e.'Engraver', 
f.'Contributors', 
g.'Issuance type', 
h.'Shelfmarks'

In [54]:
# Remove unnecessary columns
df = df.drop(['Edition Statement', 'Corporate Author', 'Corporate Contributors', 'Former owner', 'Engraver', 'Contributors', 'Issuance type', 'Shelfmarks'], axis=1)

In [60]:
df

,Identifier,Place of Publication,Date of Publication,Publisher,Title,Author,Flickr URL,first_name,last_name
0,206,London,1879,S. Tinsley & Co.,Walter Forbes,A. A.,http://www.flickr.com/photos/britishlibrary/ta...,NaN,A. A.
1,216,London,1868,Virtue & Co.,All for Greed,"A., A. A.",http://www.flickr.com/photos/britishlibrary/ta...,A. A.,A.
2,218,London,1869,"Bradbury, Evans & Co.",Love the Avenger,"A., A. A.",http://www.flickr.com/photos/britishlibrary/ta...,A. A.,A.
3,472,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...,E. S.,A.
4,480,London,1857,Wertheim & Macintosh,"The World in which I live, and my place in it","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...,E. S.,A.
...,...,...,...,...,...,...,...,...,...
8282,4158088,London,1838,NaN,"The Parochial History of Cornwall, founded on,...","GIDDY, afterwards GILBERT, Davies.",http://www.flickr.com/photos/britishlibrary/ta...,"afterwards GILBERT, Davies.",GIDDY
8283,4158128,Derby,1831,M. Mozley & Son,The History and Gazetteer of the County of Der...,"GLOVER, Stephen - of Derby",http://www.flickr.com/photos/britishlibrary/ta...,Stephen - of Derby,GLOVER
8284,4159563,London,NaN,T. Cadell and W. Davies,Magna Britannia; being a concise topographical...,"LYSONS, Daniel - M.A., F.R.S., and LYSONS (Sam...",http://www.flickr.com/photos/britishlibrary/ta...,"Daniel - M.A., F.R.S., and LYSONS (Samuel) F.R.S",LYSONS
8285,4159587,Newcastle upon Tyne,1834,Mackenzie & Dent,"An historical, topographical and descriptive v...","Mackenzie, E. (Eneas)",http://www.flickr.com/photos/britishlibrary/ta...,E. (Eneas),Mackenzie
8286,4160339,London,1834,NaN,Collectanea Topographica et Genealogica,NaN,http://www.flickr.com/photos/britishlibrary/ta...,NaN,NaN

# 3.Check the content of the column- 'Date of Publication’ and define a function to clean the value. E.g., the original value: 1879 [1878] to: 1879; [1858.] to 1858; (20 points)

In [56]:
def clean_Date_of_Publication( ):
    df["Date of Publication"] = df["Date of Publication"].str.extract( r'^(\d{4})',expand = False)
    return df
clean_Date_of_Publication( )

,Identifier,Place of Publication,Date of Publication,Publisher,Title,Author,Flickr URL
0,206,London,1879,S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,A. A.,http://www.flickr.com/photos/britishlibrary/ta...
1,216,London; Virtue & Yorston,1868,Virtue & Co.,All for Greed. [A novel. The dedication signed...,"A., A. A.",http://www.flickr.com/photos/britishlibrary/ta...
2,218,London,1869,"Bradbury, Evans & Co.",Love the Avenger. By the author of “All for Gr...,"A., A. A.",http://www.flickr.com/photos/britishlibrary/ta...
3,472,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...
4,480,London,1857,Wertheim & Macintosh,"[The World in which I live, and my place in it...","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...
...,...,...,...,...,...,...,...
8282,4158088,London,1838,NaN,"The Parochial History of Cornwall, founded on,...","GIDDY, afterwards GILBERT, Davies.",http://www.flickr.com/photos/britishlibrary/ta...
8283,4158128,Derby,1831,M. Mozley & Son,The History and Gazetteer of the County of Der...,"GLOVER, Stephen - of Derby",http://www.flickr.com/photos/britishlibrary/ta...
8284,4159563,London,NaN,T. Cadell and W. Davies,Magna Britannia; being a concise topographical...,"LYSONS, Daniel - M.A., F.R.S., and LYSONS (Sam...",http://www.flickr.com/photos/britishlibrary/ta...
8285,4159587,Newcastle upon Tyne,1834,Mackenzie & Dent,"An historical, topographical and descriptive v...","Mackenzie, E. (Eneas)",http://www.flickr.com/photos/britishlibrary/ta...
8286,4160339,London,1834,NaN,Collectanea Topographica et Genealogica. [Firs...,NaN,http://www.flickr.com/photos/britishlibrary/ta...

# 4.Check the content of the column- ' Author’ and define a function to clean the value. And split the name to first name and last name. (10 points)

In [57]:
def clean_author ():
    df['first_name']=df['Author'].str.split(',',1).str[1].str.strip()
    df['last_name']=df['Author'].str.split(',',1).str[0].str.strip()
    return df
clean_author()

,Identifier,Place of Publication,Date of Publication,Publisher,Title,Author,Flickr URL,first_name,last_name
0,206,London,1879,S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,A. A.,http://www.flickr.com/photos/britishlibrary/ta...,NaN,A. A.
1,216,London; Virtue & Yorston,1868,Virtue & Co.,All for Greed. [A novel. The dedication signed...,"A., A. A.",http://www.flickr.com/photos/britishlibrary/ta...,A. A.,A.
2,218,London,1869,"Bradbury, Evans & Co.",Love the Avenger. By the author of “All for Gr...,"A., A. A.",http://www.flickr.com/photos/britishlibrary/ta...,A. A.,A.
3,472,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...,E. S.,A.
4,480,London,1857,Wertheim & Macintosh,"[The World in which I live, and my place in it...","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...,E. S.,A.
...,...,...,...,...,...,...,...,...,...
8282,4158088,London,1838,NaN,"The Parochial History of Cornwall, founded on,...","GIDDY, afterwards GILBERT, Davies.",http://www.flickr.com/photos/britishlibrary/ta...,"afterwards GILBERT, Davies.",GIDDY
8283,4158128,Derby,1831,M. Mozley & Son,The History and Gazetteer of the County of Der...,"GLOVER, Stephen - of Derby",http://www.flickr.com/photos/britishlibrary/ta...,Stephen - of Derby,GLOVER
8284,4159563,London,NaN,T. Cadell and W. Davies,Magna Britannia; being a concise topographical...,"LYSONS, Daniel - M.A., F.R.S., and LYSONS (Sam...",http://www.flickr.com/photos/britishlibrary/ta...,"Daniel - M.A., F.R.S., and LYSONS (Samuel) F.R.S",LYSONS
8285,4159587,Newcastle upon Tyne,1834,Mackenzie & Dent,"An historical, topographical and descriptive v...","Mackenzie, E. (Eneas)",http://www.flickr.com/photos/britishlibrary/ta...,E. (Eneas),Mackenzie
8286,4160339,London,1834,NaN,Collectanea Topographica et Genealogica. [Firs...,NaN,http://www.flickr.com/photos/britishlibrary/ta...,NaN,NaN

# 5.	Check the content of the column- ‘Title’ and define a function to clean the value. E.g., the original value: Walter Forbes. [A novel.] By A. A to: Walter Forbes;  Love the Avenger. By the author of “All for Gr.. to Love The Avenger. (10 points)

In [58]:
def clean_title():
    df['Title'] = df['Title'].str.strip('[')
    df['Title'] = df['Title'].str.split('.',1).str[0].str.strip()
    return df
clean_title()

,Identifier,Place of Publication,Date of Publication,Publisher,Title,Author,Flickr URL,first_name,last_name
0,206,London,1879,S. Tinsley & Co.,Walter Forbes,A. A.,http://www.flickr.com/photos/britishlibrary/ta...,NaN,A. A.
1,216,London; Virtue & Yorston,1868,Virtue & Co.,All for Greed,"A., A. A.",http://www.flickr.com/photos/britishlibrary/ta...,A. A.,A.
2,218,London,1869,"Bradbury, Evans & Co.",Love the Avenger,"A., A. A.",http://www.flickr.com/photos/britishlibrary/ta...,A. A.,A.
3,472,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...,E. S.,A.
4,480,London,1857,Wertheim & Macintosh,"The World in which I live, and my place in it","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...,E. S.,A.
...,...,...,...,...,...,...,...,...,...
8282,4158088,London,1838,NaN,"The Parochial History of Cornwall, founded on,...","GIDDY, afterwards GILBERT, Davies.",http://www.flickr.com/photos/britishlibrary/ta...,"afterwards GILBERT, Davies.",GIDDY
8283,4158128,Derby,1831,M. Mozley & Son,The History and Gazetteer of the County of Der...,"GLOVER, Stephen - of Derby",http://www.flickr.com/photos/britishlibrary/ta...,Stephen - of Derby,GLOVER
8284,4159563,London,NaN,T. Cadell and W. Davies,Magna Britannia; being a concise topographical...,"LYSONS, Daniel - M.A., F.R.S., and LYSONS (Sam...",http://www.flickr.com/photos/britishlibrary/ta...,"Daniel - M.A., F.R.S., and LYSONS (Samuel) F.R.S",LYSONS
8285,4159587,Newcastle upon Tyne,1834,Mackenzie & Dent,"An historical, topographical and descriptive v...","Mackenzie, E. (Eneas)",http://www.flickr.com/photos/britishlibrary/ta...,E. (Eneas),Mackenzie
8286,4160339,London,1834,NaN,Collectanea Topographica et Genealogica,NaN,http://www.flickr.com/photos/britishlibrary/ta...,NaN,NaN

# 6.	Check the content of the column- ‘Place of Publication’ and define a function to clean the value. E.g., the original value: London; Virtue & Yorston to: London. (10 points)

In [59]:
def clean_place_of_publication():
    df['Place of Publication'] = np.where(df['Place of Publication'].str.contains('London'), 'London',
                                           df['Place of Publication'].str.replace('-', ' '))
    return df
clean_place_of_publication()

,Identifier,Place of Publication,Date of Publication,Publisher,Title,Author,Flickr URL,first_name,last_name
0,206,London,1879,S. Tinsley & Co.,Walter Forbes,A. A.,http://www.flickr.com/photos/britishlibrary/ta...,NaN,A. A.
1,216,London,1868,Virtue & Co.,All for Greed,"A., A. A.",http://www.flickr.com/photos/britishlibrary/ta...,A. A.,A.
2,218,London,1869,"Bradbury, Evans & Co.",Love the Avenger,"A., A. A.",http://www.flickr.com/photos/britishlibrary/ta...,A. A.,A.
3,472,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...,E. S.,A.
4,480,London,1857,Wertheim & Macintosh,"The World in which I live, and my place in it","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...,E. S.,A.
...,...,...,...,...,...,...,...,...,...
8282,4158088,London,1838,NaN,"The Parochial History of Cornwall, founded on,...","GIDDY, afterwards GILBERT, Davies.",http://www.flickr.com/photos/britishlibrary/ta...,"afterwards GILBERT, Davies.",GIDDY
8283,4158128,Derby,1831,M. Mozley & Son,The History and Gazetteer of the County of Der...,"GLOVER, Stephen - of Derby",http://www.flickr.com/photos/britishlibrary/ta...,Stephen - of Derby,GLOVER
8284,4159563,London,NaN,T. Cadell and W. Davies,Magna Britannia; being a concise topographical...,"LYSONS, Daniel - M.A., F.R.S., and LYSONS (Sam...",http://www.flickr.com/photos/britishlibrary/ta...,"Daniel - M.A., F.R.S., and LYSONS (Samuel) F.R.S",LYSONS
8285,4159587,Newcastle upon Tyne,1834,Mackenzie & Dent,"An historical, topographical and descriptive v...","Mackenzie, E. (Eneas)",http://www.flickr.com/photos/britishlibrary/ta...,E. (Eneas),Mackenzie
8286,4160339,London,1834,NaN,Collectanea Topographica et Genealogica,NaN,http://www.flickr.com/photos/britishlibrary/ta...,NaN,NaN